body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(212, 212, 212);
}

h3 {
    text-align: center;
    font-weight: 200;
}

img {
    width: 60vw;
    height: auto;
}

#content {
    opacity: 0.5;
    background: url('images/island.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -999;
}

#container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#banner {
    color: #777777;
    font-family: Roboto;
    font-size: 5vh;
}

.btn {
    background: none;
    border: none;
    font-size: 3vh;
    font-family: Roboto;
    color: #777777;
    margin: 0;
    padding: 0.5vh 2vw;
}

.about{
  background: none;
  border:none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  padding: 10px;
  text-align: right;
  margin-top: 10%;
  color: #777777;
  font-family: Roboto;
}
